In [1]:
#Assignment_3_Task_3


########
#Assignment is done by - Md Ziauddin Ridoy (220100676), ziaridoy20@uni-koblenz.de
########                 Derrick Seyram Vormawor (220203317),  dvormawor@uni-koblenz.de

In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import csv 

plt.style.use('bmh')

In [2]:
#Importing dataset in dataframe
df_height = pd.read_csv('data3.csv')
  
df_height = pd.DataFrame(df_height)

df_height

      height
0    151.765
1    139.700
2    136.525
3    156.845
4    145.415
..       ...
539  145.415
540  162.560
541  156.210
542   71.120
543  158.750

[544 rows x 1 columns]

In [1]:
#Plotting the dataset with a histogram
x = df_height['height']

plt.xlabel('height', fontsize=25)
plt.title('Height of People in Kung San', fontsize=20)
plt.xlabel('Height', fontsize=15)
plt.ylabel('Number of People', fontsize=15)


plt.hist(x)

plt.show()

NameError: name 'df_height' is not defined